define service {
    use                     generic-service
    host_name               vpn-honeypot-host
    service_description     PING
    check_command           check_ping!100.0,20%!500.0,60%
    check_interval          5
    retry_interval          1
}

define service {
    use                     generic-service
    host_name               vpn-honeypot-host
    service_description     SSH (hardened port)
    check_command           check_ssh_port!{{ ssh_port }}
    check_interval          5
}

define service {
    use                     generic-service
    host_name               vpn-honeypot-host
    service_description     AmneziaWG UDP port
    check_command           check_udp!{{ vpn_port }}
    check_interval          5
}

define service {
    use                     generic-service
    host_name               vpn-honeypot-host
    service_description     Cowrie honeypot (port 22)
    check_command           check_tcp!22
    check_interval          10
}

define command {
    command_name    check_ssh_port
    command_line    $USER1$/check_ssh -p $ARG1$ $HOSTADDRESS$
}

define command {
    command_name    check_udp
    command_line    $USER1$/check_udp -p $ARG1$ -H $HOSTADDRESS$
}
